<form name="form" (ngSubmit)="f.form.valid && handleCreateLecture()" #f="ngForm" novalidate>
  <div class="row">
    <h1>Nová událost</h1>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !trainer.valid }">
        <label for="trainer">Lektor</label>
        <select name="trainer" id="trainer" class="custom-select" [(ngModel)]="model.trainer" #trainer="ngModel">
          <option *ngFor="let trainer of trainers" [value]="trainer.id">{{trainer.name}}</option>
        </select>
        <div *ngIf="f.submitted && !trainer.valid" class="help-block red-text">Lektor je vyžadován</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !start_time.valid }">
        <label for="start_time">Datum a čas lekce</label>
        <input type="datetime-local" class="form-control" name="start_time" id="start_time" [(ngModel)]="model.start_time" #start_time="ngModel" required/>
        <div *ngIf="f.submitted && !start_time.valid" class="help-block red-text">Datum a čas lekce je vyžadován, nebo není validní</div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !start_time.valid }">
        <label for="duration">Doba trvání lekce</label>
        <div class="input-group">
          <input type="number" class="form-control" name="duration" id="duration" [(ngModel)]="model.duration" #duration="ngModel" required/>
          <div class="input-group-append">
            <span class="input-group-text">minut</span>
          </div>
        </div>
        <div *ngIf="f.submitted && !duration.valid" class="help-block red-text">Doba trvání lekce je vyžadována, nebo není validní</div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !start_time.valid }">
        <label for="max_persons">Kapacita</label>
        <div class="input-group">
          <input type="number" class="form-control" name="max_persons" id="max_persons" [(ngModel)]="model.max_persons" #max_persons="ngModel" required/>
          <div class="input-group-append">
            <span class="input-group-text">osob</span>
          </div>
        </div>
        <div *ngIf="f.submitted && !max_persons.valid" class="help-block red-text">Maxmální počet osob je vyžadován, nebo není validní</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !start_time.valid }">
        <label for="place">Místo konání lekce</label>
        <input type="text" class="form-control" name="place" id="place" [(ngModel)]="model.place" #place="ngModel" required/>
        <div *ngIf="f.submitted && !place.valid" class="help-block red-text">Místo konání je vyžadováno, nebo není validní</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!f.form.valid">Vytvořit</button>
      </div>
    </div>
  </div>
</form>

