<div class="calendar-wrapper">
<!--  <div class="calendar-nav">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <span class="nav-link" [class.active]="(viewType$ | async) == ViewType.MONTH" (click)="viewType$.next(ViewType.MONTH)">Měsíc</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" [class.active]="(viewType$ | async) == ViewType.WEEK" (click)="viewType$.next(ViewType.WEEK)">Týden</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" [class.active]="(viewType$ | async) == ViewType.AGENDA" (click)="viewType$.next(ViewType.AGENDA)">Agenda</span>
      </li>
    </ul>
  </div>-->
  <div class="row">
    <div class="calendar-header text-center">
      <span class="pointer" (click)="handleShowPrev()"><</span>
      <span class="calendar-title">{{viewDate$ | async | monthYearTitle:viewType}}</span>
      <span class="pointer" (click)="handleShowNext()">></span>
    </div>
  </div>
  <ng-container [ngSwitch]="viewType$ | async">
    <app-calendar-view-type-month
      *ngSwitchCase="ViewType.MONTH"
      [dayActions]="dayActions"
      [dayActionHandler]="dayActionHandler"
      [enableAdmin]="enableAdmin"
      [enableUser]="enableUser"
      [showPrev]="showPrev"
      [showNext]="showNext"
      (viewDate)="handleChangeViewDate($event)"

    ></app-calendar-view-type-month>
    <app-calendar-view-type-week
      *ngSwitchCase="ViewType.WEEK"
      [dayActions]="dayActions"
      [dayActionHandler]="dayActionHandler"
      [enableAdmin]="enableAdmin"
      [enableUser]="enableUser"
      [showPrev]="showPrev"
      [showNext]="showNext"
      (viewDate)="handleChangeViewDate($event)"

    ></app-calendar-view-type-week>
    <app-calendar-view-type-agenda
      *ngSwitchCase="ViewType.AGENDA"
    ></app-calendar-view-type-agenda>
  </ng-container>

<!--  <div class="row">-->
<!--    <div class="calendar-day-header-wrapper">-->
<!--      <div class="calendar-day-header" *ngFor="let day of days">{{day}}</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row" *ngFor="let row of rows"-->
<!--       appDaySchedule-->
<!--       [dayActionHandler]="dayActionHandler">-->
<!--    <div class="col" style="padding: 0" *ngFor="let window of getWindowInRow(row)">-->
<!--      <app-window [calendarDay]="window"-->
<!--                  (showSchedule)="handleWindowClick(row, $event)"></app-window>-->
<!--    </div>-->
<!--  </div>-->
</div>
