.calendar-window {
  width: 100%;
  height: 10vw;
  border: solid 1px black;
  float: left;
  display: block;
  color: rgba(155, 155, 155, 0.77);
  cursor: pointer;
}

.calendar-window.highlight {
  color: #000;
}

.calendar-window.view-schedule {
  border-bottom: none;
}

.calendar-window .day-numer {
  width: 100%;
  text-align: center;
  display: block;
  padding-top: 4px;
  padding-right: 4px;
}

.calendar-window .day-action {
  float: left;
  padding-left: 4px;
}

@media only screen and (min-width : 601px) {
  .calendar-window {
    height: 7vw;
  }
}

@media only screen and (max-width : 992px) {
  .calendar-window .day-numer {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width : 993px) {
  .calendar-window {
    height: 9vw;
  }
  .calendar-window .day-numer {
    font-size: 2rem;
  }
}

@media only screen and (min-width : 1200px) {}
