<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2">
        <form [formGroup]="authForm">
          <h1>Přihlášení</h1>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" name="email" id="email" formControlName="email" placeholder="E-mail"/>
                </div>
                <small *ngIf="email.touched && email.errors?.required" class="form-text text-muted">E-mail je vyžadován.</small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="material-icons">lock</i></span>
                  </div>
                  <input type="password" class="form-control" name="password" id="password" formControlName="password" placeholder="Heslo"/>
                </div>
                <small *ngIf="password.touched && password.errors?.required" class="form-text text-muted">Heslo je vyžadováno.</small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Zapamatovat si mě
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary" style="width: 100%" [disabled]="authForm.invalid">Přihlásit</button>
          </div>
        </form>
        <div class="row">
          <div class="col-6 text-center">
            <a [routerLink]="'register'">Nemáte ještě účet?</a>
          </div>
          <div class="col-6 text-center">
          <a [routerLink]="'recover'">Zapoměli jste heslo?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
