<section id="information">
  <div class="container">
    <div class="row">
      <div class="col m12">
        <h2 class="center-align">Základní informace</h2>
      </div>
    </div>
    <div class="row">
      <div class="col m12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas ultrices lacinia. Donec pellentesque mollis ante ut scelerisque. Nam tortor ex, semper quis risus in, pulvinar dignissim mi. Vivamus a nulla ante. Quisque nisl sem, pulvinar at nisi blandit, aliquet dapibus ligula. Integer sagittis purus ut vulputate fermentum. Donec condimentum ante non odio auctor, sed mollis magna laoreet.</p>
        <p>Curabitur sagittis erat ac est euismod, nec ultricies tellus maximus. Mauris diam lacus, finibus convallis commodo quis, tincidunt quis velit. Fusce vel enim in nibh aliquam imperdiet malesuada quis massa. Sed aliquam posuere nunc, a ultrices tellus. Curabitur laoreet efficitur mi non ultricies. Duis magna ipsum, scelerisque ut accumsan sed, vestibulum vitae tellus. Nulla facilisi. Morbi consectetur est id felis consectetur, at lobortis mi convallis. Etiam eros justo, fermentum sit amet varius quis, vestibulum quis augue. Nulla quis aliquam mauris. Morbi quis purus quam.</p>
        <p>Proin luctus a est vel laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Morbi egestas sapien vel orci pellentesque elementum. Nulla accumsan, sapien vel finibus ultricies, tortor metus luctus augue, sed gravida tellus mauris ut ex. Donec fringilla egestas lacus, in fermentum est fermentum vel. Aliquam erat volutpat. Mauris porta elit turpis, sit amet maximus libero rutrum a. Suspendisse viverra quam arcu, vel dictum eros consectetur non. Nullam venenatis quis enim id mattis. Suspendisse tempus hendrerit leo.</p>
      </div>
    </div>
  </div>

</section>
