<div class="row day-schedule" *ngIf="actions.length === 0">
  <div class="col-12 bg-warning" >
    <h3 class="text-center">Pro tento den nejsou naplánované žádné akce</h3>
    <div class="text-center" *ngIf="isLector">
      <button class="btn btn-primary" (click)="handleNewDayAction()">Přidat</button>
    </div>
  </div>
</div>

<div class="row day-schedule" *ngIf="actions.length > 0">
  <div class="col-12 bg-info">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <h3 class="text-center">Akce pro tento den</h3>
        <div class="row record align-items-center" *ngFor="let action of actions">
          <div class="col-3">
            <h4 class="action-name" *ngIf="!isLector">{{action.name}}</h4>
            <h4 class="action-name" *ngIf="isLector"><a [routerLink]="[action.id]">{{action.name}}</a></h4>
            <small class="action-addition">{{action.place}}</small>
          </div>
          <div class="col">
            <div class="text-center">
              {{action.timeStart | date:"HH:mm"}} - {{action.timeEnd | date:"HH:mm"}}
            </div>
          </div>
          <div class="col">
            <app-current-max-value [currentValue]="action.reserved" [maxValue]="action.capacity" lowerDelta="4" higherDelta="7"></app-current-max-value>
          </div>
          <div class="col-3">
            <button class="btn btn-success btn-sm" *ngIf="isClient && !action.assigned" [disabled]="!canAssign(action)" (click)="handleAssignDayAction(action)">Přihlásit</button>
            <button class="btn btn-danger btn-sm" *ngIf="isClient && action.assigned" (click)="handleCancelDayAction(action)">Odhlásit</button>
            <button class="btn btn-info btn-sm" *ngIf="isLector" [disabled]="action.reserved !== 0" (click)="handleUpdateDayAction(action)">Upravit</button>
            <button class="btn btn-danger btn-sm" *ngIf="isLector" [disabled]="action.reserved !== 0" (click)="handleDeleteDayAction(action)">Odstranit</button>
            <button class="btn btn-secondary btn-sm" *ngIf="isLector" [disabled]="action.published" (click)="handlePublishDayAction(action)">Publikovat</button>
          </div>
        </div>
        <div class="row" style="margin-top: 4px" *ngIf="isLector">
          <div class="col-12">
            <div class="vertical-center">
              <button class="btn btn-primary" (click)="handleNewDayAction()">Přidat</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
