<div class="row day-schedule" *ngIf="actions.length === 0">
  <div class="col-12 bg-warning" >
    <h3 class="text-center">Pro tento den nejsou naplánované žádné akce</h3>
    <div class="text-center" *ngIf="isAdmin">
      <button class="btn btn-primary" (click)="handleNewDayAction()">Přidat</button>
    </div>
  </div>
</div>

<div class="row day-schedule" *ngIf="actions.length > 0">
  <div class="col-12 bg-info">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <h3 class="text-center">Akce pro tento den</h3>
        <div class="row record align-items-baseline" *ngFor="let action of actions">
          <div class="col-4">
            <h4>{{action.name}}</h4>
          </div>
          <div class="col">
            <div class="text-center">
              {{action.timeStart | date:"HH:mm"}}
            </div>
          </div>
          <div class="col">
            {{action.duration}} min.
          </div>
          <div class="col">
            <app-current-max-value [currentValue]="action.reserved" [maxValue]="action.capacity" lowerDelta="4" higherDelta="7"></app-current-max-value>
          </div>
          <div class="col">
            <button class="btn btn-success btn-sm" *ngIf="isClient && !isAdmin">Přihlásit</button>
            <button class="btn btn-info btn-sm" *ngIf="isAdmin" [disabled]="action.reserved !== 0" (click)="handleUpdateDayAction(action)">Upravit</button>
            <button class="btn btn-danger btn-sm" *ngIf="isAdmin" [disabled]="action.reserved !== 0">Zrušit</button>
          </div>
        </div>
        <div class="row" style="margin-top: 4px" *ngIf="isAdmin">
          <div class="col-12">
            <div class="vertical-center">
              <button class="btn btn-primary" (click)="handleNewDayAction()">Přidat</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
