<section id="lecture-type-info">
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-md-3">
      <h1>Informace o lekci - {{lectureType?.name}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-md-3">
      <img [src]="lectureType | appLectureTypeImagePath" class="mx-auto d-block">
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-md-3">
      <p>Cena: <span class="font-weight-bold">{{lectureType?.price}}</span> Kč</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-md-3">
      <p>{{lectureType?.description}}</p>
    </div>
  </div>

</section>
