<div class="row">
  <div class="col-md-4">
    <app-card cardType="stats" [note]="'Nějaká poznámka'" [title]="'Nadpis'" [subtitle]="'Podnadpis'" [headerColor]="'success'" noteHref="#"></app-card>
  </div>
  <div class="col-md-4">
    <app-card cardType="chart" [note]="'Nějaká poznámka'" [title]="'Nadpis'" [subtitle]="'Podnadpis'" [headerColor]="'warning'" noteHref="#"></app-card>
  </div>
  <div class="col-md-4">
    <app-card cardType="chart" [note]="'Nějaká poznámka'" [title]="'Nadpis'" [subtitle]="'Podnadpis'" [headerColor]="'warning'" noteHref="#"></app-card>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <app-table [title]="'Testování'" [subtitle]="'Podnadpis'" [headerColor]="'warning'" [tableHeads]="heads" [tableRows]="rows">
      Hello world
    </app-table>
  </div>

  <div class="col-md-6">
    <app-markdown-editor></app-markdown-editor>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <app-carousel [images]="images"></app-carousel>
  </div>
</div>

<button (click)="handleClick()">CLick</button>
