<div class="row flex-nowrap m-0">
  <div class="col overflow-auto editor-toolbar-wrapper">
    <ul class="list-group list-group-horizontal editor-toolbar">

      <li class="list-group-item editor-control" title="{{button.tooltip}}" *ngFor="let button of buttons | toolbarPosition:'left'" (click)="btnClick.next(button)">
        <span><i class="material-icons">{{button.icon}}</i></span>
      </li>

    </ul>
  </div>
  <div class="col-4 col-sm-4 col-md-2 col-lg-1">
    <ul class="list-group list-group-horizontal editor-toolbar float-right">

      <li class="list-group-item editor-control" title="{{button.tooltip}}" *ngFor="let button of buttons | toolbarPosition:'right'" (click)="btnClick.next(button)">
        <span><i class="material-icons">{{button.icon}}</i></span>
      </li>

    </ul>
  </div>
</div>


<!--<p>You can use the mark tag to <mark>highlight</mark> text.</p>-->
<!--<p><del>This line of text is meant to be treated as deleted text.</del></p>-->
<!--<p><s>This line of text is meant to be treated as no longer accurate.</s></p>-->
<!--<p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>-->
<!--<p><u>This line of text will render as underlined</u></p>-->
<!--<p><small>This line of text is meant to be treated as fine print.</small></p>-->
<!--<p><strong>This line rendered as bold text.</strong></p>-->
<!--<p><em>This line rendered as italicized text.</em></p>-->
