.calendar-window {
  width: calc(100% / 7);
  height: 10vw;
  border: solid 1px black;
  float: left;
  display: block;
  text-align: center;
  color: rgba(155, 155, 155, 0.77);
}

.calendar-window.highlight {
  color: #000;
}

.calendar-window .day-numer {
  width: 100%;
  text-align: right;
  display: block;
  padding-top: 4px;
  padding-right: 4px;
}

.calendar-window .day-action {
  float: left;
  padding-left: 4px;
}

@media only screen and (min-width : 601px) {
  .calendar-window {
    height: 7vw;
  }
}

@media only screen and (max-width : 992px) {

}

@media only screen and (min-width : 993px) {
  .calendar-window {
    height: 9vw;
  }
}

@media only screen and (min-width : 1200px) {}
