<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="disablePrev">
      <a class="page-link" (click)="handleShowPrev()">
        Předchozí
      </a>
    </li>
    <li class="page-item" *ngFor="let link of paginatorLinks">
      <a class="page-link" [class.active]="(curentPage | async) == link" (click)="handleShow(link)">
        {{link}}
      </a>
    </li>
    <li class="page-item" [class.disabled]="disableNext">
      <a class="page-link" (click)="handleShowNext()">
        Další
      </a>
    </li>
  </ul>
</nav>
