<form [formGroup]="lectureTypeForm">

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="name">Název lekce</label>
        <input type="text" class="form-control" name="name" id="name" formControlName="name"/>
        <small *ngIf="name.touched && name.errors?.required" class="form-text text-muted">Místo konání je vyžadováno.</small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="description">Popis lekce</label>
        <textarea class="form-control" formControlName="description" id="description"></textarea>
<!--        <input type="text" class="form-control" name="description" id="description" formControlName="description"/>-->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="price">Cena</label>
        <div class="input-group">
          <input type="number" class="form-control" name="price" id="price" formControlName="price"/>
          <div class="input-group-append">
            <span class="input-group-text">Kč</span>
          </div>
        </div>
        <small *ngIf="price.touched && price.errors?.required" class="form-text text-muted">Cena lekce je vyžadována.</small>
        <small *ngIf="price.touched && price.errors?.nagetiveNumber" class="form-text text-muted">Cena musí být kladná.</small>
      </div>
    </div>
  </div>
</form>
