<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="account-actions">
        <li><a routerLinkActive="active" class="text-white-50 nav-link" [routerLink]="[{outlets: {subpage: 'lectures'}}]">Moje lekce</a></li>
        <li><a routerLinkActive="active" class="text-white-50 nav-link" [routerLink]="[{outlets: {subpage: 'personal'}}]">Osobní údaje</a></li>
        <li><a class="text-white-50 nav-link" href="" (click)="handleLogout()">Odhlásit</a></li>
      </ul>

    </div>
  </div>

  <router-outlet name="subpage"></router-outlet>
</div>
