<app-active-images *ngIf="images.length !== 0"></app-active-images>

<div class="row">
  <div class="col-12">
    <h2 *ngIf="images.length > 0">Přehled obrázků</h2>
    <table class="table table-striped table-hover" *ngIf="images.length > 0">
      <thead>
      <tr>
        <th>Obrázek</th>
        <th *ngIf="!isProd">ID</th>
        <th>Název</th>
        <th>Popis</th>
        <th *ngIf="!isProd">Cesta</th>
        <th>Aktivní</th>
        <th>Pořadí</th>
        <th>Akce</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let image of images; let i = index">
        <td>
          <div class="col-with-image">
            <img src="/public/uploads/image/{{image.path | async}}" alt="{{image.description | async}}">
          </div>
        </td>
        <td *ngIf="!isProd">{{image.id | async}}</td>
        <td>{{image.name | async}}</td>
        <td>{{image.description | async}}</td>
        <td *ngIf="!isProd" class="text-truncate">{{image.path | async}}</td>
        <td>
          <app-toggle [checked]="image.enabled" (changed)="handleChangeEnabled($event, i)"></app-toggle>
        </td>
        <td>{{image.view_order | async}}</td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="handleUpdateImage(i)">Upravit</button>
          <button class="btn btn-danger btn-sm" [class.disabled]="image.enabled | async" (click)="handleDeleteImage(i)">Smazat</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row" *ngIf="images.length == 0">
  <div class="col-12">
    <h3>Nebyly nalezeny žádné obrázky ;(</h3>
  </div>
</div>

<span id="new-query" class="btn-floating btn-lg btn-default floating-upload-btn" (click)="handleShowUploadDialog()"><i class="material-icons">add</i></span>

<app-modal id="carouselDialog" #modal></app-modal>
