.floating-upload-btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.col-with-image {
  width: 40%;
  max-width: 130px;
  height: 40%;
  background: #444;
  margin: 0 auto;
}
.col-with-image img {
  width: 100%;
}


